@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local("Pacifico Regular"), local("Pacifico-Regular"), url("../fonts/pacifico/pacifico-latin-400.woff2") format("woff2"), url("../fonts/pacifico/pacifico-latin-400.woff") format("woff");
  /* Legacy iOS */ }

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 200;
  src: local("Nunito Extra Light "), local("Nunito-Extra Light"), url("../fonts/nunito/nunito-latin-200.woff2") format("woff2"), url("../fonts/nunito/nunito-latin-200.woff") format("woff");
  /* Modern Browsers */ }

body {
  font-family: "Nunito"; }

nav .navbar-item > a {
  padding: 15px;
  margin-right: 20px;
  font-weight: bold;
  color: black !important; }
  nav .navbar-item > a:hover {
    color: #de5056 !important; }

nav .logo {
  font-family: 'Pacifico';
  color: #de5056; }

nav .nav-search {
  width: 65px; }

nav:after {
  background-image: url("http://localhost:3000/assets/images/bg-header.png");
  height: 17px;
  content: "";
  display: block;
  width: 110%;
  position: absolute;
  bottom: -10px;
  margin-left: -15px; }

.modal-content {
  background: transparent;
  border: 0px solid; }
  .modal-content .modal-body input {
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid;
    background: transparent;
    color: white;
    padding: 15px; }

.modal-open .modal {
  background: rgba(0, 0, 0, 0.8); }

.remove-p {
  padding: 0px !important; }

.content-page .new-products, .content-page .contact-cake, .content-page .contact-us {
  background: rgba(0, 0, 0, 0.5); }

.content-page .introduce, .content-page .contact-cake, .content-page .baking-tools, .content-page .recipes-baking, .content-page .pic-of-invertors, .content-page .contact-us {
  padding-top: 100px;
  padding-bottom: 100px; }

.content-page .recipes-baking .truncate {
  line-height: 24px;
  max-height: 72px;
  overflow: hidden; }

.content-page {
  position: relative;
  padding-top: 82px;
  background: #343a40 !important; }
  .content-page .bg-slide {
    position: fixed; }
    .content-page .bg-slide .carousel-inner > .carousel-item img {
      width: 100%;
      max-height: 1200px; }
    .content-page .bg-slide a {
      display: none; }
  @media (max-width: 756px) {
    .content-page .bg-slide .carousel-inner > .carousel-item img {
      width: 100%;
      height: 100%; } }
  .content-page .new-products {
    position: relative;
    text-align: center;
    padding: 60px !important; }
    .content-page .new-products h1 {
      font-family: "Pacifico";
      color: red; }
    .content-page .new-products .new-products-img {
      margin-bottom: 10px; }
  .content-page .introduce {
    background-image: url("http://localhost:3000/assets/images/introduce.jpg");
    background-repeat: repeat;
    text-align: center; }
    .content-page .introduce .font-pac {
      font-family: "Pacifico"; }
    .content-page .introduce .hr-than {
      display: inline-flex;
      width: 70%; }
      .content-page .introduce .hr-than .hr-before, .content-page .introduce .hr-than .hr-after {
        width: 35%; }
    .content-page .introduce .pd-t-50 {
      padding-top: 50px; }
    .content-page .introduce .intro-title {
      color: #FF3366; }
  .content-page .picture-of-cakes {
    background-image: url("http://localhost:3000/assets/images/introduce.jpg");
    background-repeat: repeat;
    padding-bottom: 100px; }
    .content-page .picture-of-cakes .picture-title {
      padding-bottom: 20px; }
      .content-page .picture-of-cakes .picture-title span {
        padding: 10px; }
    .content-page .picture-of-cakes .carousel-item {
      margin-left: -4px; }
      .content-page .picture-of-cakes .carousel-item .list-group-item {
        padding: 0px !important;
        padding-left: 5px !important;
        background: transparent; }
      .content-page .picture-of-cakes .carousel-item img {
        width: 100%;
        height: auto; }
    .content-page .picture-of-cakes a .carousel-icon {
      background: rgba(247, 247, 247, 0.85);
      width: 60px;
      height: 60px;
      color: #201b1b;
      padding-top: 8px;
      font-size: 36px;
      border-radius: 5px; }
  .content-page .contact-cake {
    position: relative; }
  .content-page .featured-product {
    background: white; }
    .content-page .featured-product button:focus {
      outline: none !important;
      box-shadow: none !important; }
    .content-page .featured-product h1 {
      margin-top: 100px; }
    .content-page .featured-product .border-fp {
      margin-top: 25px;
      padding: 5px;
      border: 2px black dotted; }
    .content-page .featured-product .gallery {
      width: 100%;
      padding-bottom: 100px; }
      .content-page .featured-product .gallery .col-xl-3, .content-page .featured-product .gallery .col-lg-4, .content-page .featured-product .gallery .col-md-6, .content-page .featured-product .gallery .col-sm-6, .content-page .featured-product .gallery .col-12 {
        padding: 0px !important; }
      .content-page .featured-product .gallery .pics {
        -webkit-transition: all 350ms ease;
        transition: all 350ms ease; }
      .content-page .featured-product .gallery .animation {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1); }
      .content-page .featured-product .gallery .image {
        position: relative;
        border: 1px solid #CCC;
        cursor: pointer;
        z-index: 1; }
        .content-page .featured-product .gallery .image .img-hover {
          position: absolute;
          bottom: 0;
          height: 0;
          width: 100%;
          background-color: rgba(94, 94, 94, 0.37);
          overflow: hidden;
          transition: height 1s;
          text-align: center;
          color: white; }
          .content-page .featured-product .gallery .image .img-hover .search-icon {
            border: 1px solid white;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            font-size: 24px;
            padding-top: 10px;
            margin-top: 33%;
            margin-left: 41%; }
        .content-page .featured-product .gallery .image:hover .img-hover {
          height: 100%;
          transition: height 1s; }
    @media (max-width: 756px) {
      .content-page .featured-product .gallery .comlumn {
        width: 100%; } }
    @media (max-width: 400px) {
      .content-page .featured-product .btn {
        padding-left: 1.1rem;
        padding-right: 1.1rem; } }
  .content-page .baking-tools {
    background-image: url("http://localhost:3000/assets/images/introduce.jpg");
    background-repeat: repeat; }
    .content-page .baking-tools .image {
      position: relative;
      border: 1px solid #CCC;
      cursor: pointer;
      z-index: 1; }
      .content-page .baking-tools .image .img-hover {
        position: absolute;
        bottom: 0;
        height: 0;
        width: 100%;
        background-color: rgba(94, 94, 94, 0.37);
        overflow: hidden;
        transition: height 1s;
        text-align: center;
        color: white; }
        .content-page .baking-tools .image .img-hover .search-icon {
          border: 1px solid white;
          width: 60px;
          height: 60px;
          border-radius: 50%;
          font-size: 24px;
          padding-top: 10px;
          margin-top: 33%;
          margin-left: 41%; }
      .content-page .baking-tools .image:hover .img-hover {
        height: 100%;
        transition: height 1s; }
    .content-page .baking-tools .col-sm-6.col-12 {
      margin-bottom: 20px; }
  .content-page .recipes-baking {
    background-color: white; }
    .content-page .recipes-baking .truncate {
      padding-bottom: 20px; }
    .content-page .recipes-baking .mr-bot-10 {
      margin-bottom: 20px; }
    .content-page .recipes-baking .mr-img {
      margin-top: 9px; }
  .content-page .pic-of-invertors {
    background-image: url("http://localhost:3000/assets/images/hinhnen.png");
    background-repeat: repeat; }
    .content-page .pic-of-invertors .carousel-item {
      margin-left: -4px; }
      .content-page .pic-of-invertors .carousel-item .list-group-item {
        padding: 0px !important;
        padding-left: 5px !important;
        background: transparent;
        border: 0px solid; }
      .content-page .pic-of-invertors .carousel-item img {
        width: 100%;
        height: auto;
        border-radius: 50%; }
    .content-page .pic-of-invertors a .carousel-icon {
      background: rgba(247, 247, 247, 0.85);
      width: 60px;
      height: 60px;
      color: #201b1b;
      padding-top: 8px;
      font-size: 36px;
      border-radius: 5px; }
    .content-page .pic-of-invertors p span {
      padding: 10px; }
  .content-page .contact-us {
    color: white; }

.footer .border-black {
  border-bottom: black 1px solid;
  padding-bottom: 20px;
  padding-top: 20px; }

.footer .sn-icon {
  font-size: 24px; }

.footer .pf-38 {
  padding-left: 50px; }

.footer .rm-type {
  list-style-type: none; }
  .footer .rm-type a {
    color: #343a40; }
    .footer .rm-type a:hover {
      color: #f8474f !important; }
