@font-face{
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'),/* IE6-IE8 */
       url('../fonts/pacifico/pacifico-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/pacifico/pacifico-latin-400.woff') format('woff'); /* Legacy iOS */
}
@font-face{
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 200;
  src:
    local('Nunito Extra Light '),
    local('Nunito-Extra Light'),
    url('../fonts/nunito/nunito-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/nunito/nunito-latin-200.woff') format('woff'); /* Modern Browsers */
}