@mixin image() {
    .image {
        position: relative;
        border: 1px solid #CCC;
        cursor: pointer;
        z-index: 1;
        .img-hover{
            position: absolute;
            bottom:0;
            height:0;
            width: 100%;
            background-color:rgba(94, 94, 94, 0.37);
            overflow:hidden;
            transition:height 1s;
            text-align:center;
            color:white;
            .search-icon{
                border: 1px solid white;
                width: 60px;
                height: 60px;
                border-radius: 50%;
                font-size: 24px;
                padding-top: 10px;
                margin-top: 33%;
                margin-left: 41%;
            }
        }
        
        &:hover{
            .img-hover{
                height: 100%;
                transition: height 1s;
            }
        }
    }
}
@mixin carousel-item($check){
    .carousel-item{
        margin-left:-4px;
        .list-group-item{
            padding: 0px !important;
            padding-left: 5px !important;
            background: transparent;
            @if($check){
                border: 0px solid;
            }
        }
        img{
            width:100%;
            height:auto;
            @if($check){
                border-radius: 50%;
            }
        }
    }
    a{
        .carousel-icon{
            background: rgba(247, 247, 247, 0.85);
            width: 60px;
            height: 60px;
            color: rgb(32, 27, 27);
            padding-top: 8px;
            font-size:36px;
            border-radius: 5px;
        }
    }
}
@mixin background-img($img, $rep) {
    background-image: url($host + $img);
    background-repeat: $rep;
}