%nav{
    .navbar-item > a{
        padding: 15px;
        margin-right: 20px;
        font-weight: bold;
        color: black !important;
        &:hover{
            color: #de5056 !important;
        }
    }
    .logo{
        font-family: 'Pacifico';
        color: #de5056;
    }
    .nav-search{
        width: 65px;
    }
}