%rm-padding {
    padding: 0px !important;
}
%rm-margin {
    margin: 0px !important;
}
%bg-half {
    background: rgba(0, 0, 0, 0.5);
}
%padding-100{
    padding-top: 100px;
    padding-bottom: 100px;
}
%truncate{
    line-height: 24px;
    max-height: 72px;
    overflow: hidden;
}