@import 'font-face.scss';
@import 'variable.scss';
.header-products{
    background-image: url($host + 'landing-bottom.jpg');
    font-family: $font-pacifico;
    h1{
        padding: 170px;
        color: #de5056;
    }
}