@import 'font-face.scss';
@import 'variable.scss';
@import 'mixin.scss';
body{
    font-family: $font-nunito;
}
@import 'nav.scss';
nav{
    @extend %nav;
    &:after {
        background-image: url($host + 'bg-header.png');
        height: 17px;
        content: "";
        display: block;
        width: 110%;
        position: absolute;
        bottom: -10px;
        margin-left: -15px;
    }
}
.modal-content{
    background: transparent;
    border:0px solid;
    .modal-body{
        input{
            width: 100%;
            box-sizing: border-box;
            border: none;
            border-bottom: 1px solid;
            background: transparent;
            color: white;
            padding: 15px;
        }
    }
}
.modal-open .modal{
    background: rgba(0, 0, 0, 0.8);
}
@import 'placeholder.scss';
.remove-p{
    @extend %rm-padding;
}
.content-page{
    position: relative;
    padding-top: 82px;
    background: #343a40 !important;
    .bg-slide{
        position: fixed;
        .carousel-inner > .carousel-item{
            img{
                width: 100%;
                max-height: 1200px;
            }
        }
        a{
            display: none;
        }
    }
    @media (max-width: 756px) {
        .bg-slide {
            .carousel-inner > .carousel-item{
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    .new-products{
        @extend %bg-half;
        position: relative;
        text-align: center;
        padding: 60px !important;
        h1{
            font-family: $font-pacifico;
            color: red;
        }
        .new-products-img{
            margin-bottom: 10px;
        }
    }
    .introduce{
        @include background-img('introduce.jpg', repeat);
        @extend %padding-100;
        text-align: center;
        .font-pac{
            font-family: $font-pacifico;
        }
        .hr-than{
            display: inline-flex;
            width: 70%;
            .hr-before, .hr-after{
                width: 35%;
            }
        }
        .pd-t-50{
            padding-top: 50px;
        }
        .intro-title{
            color: #FF3366;
        }
    }
    .picture-of-cakes{
        @include background-img('introduce.jpg', repeat);
        padding-bottom:100px;
        .picture-title{
            padding-bottom: 20px;
            span{
                padding: 10px;
            }
        }
        @include carousel-item(false);
    }
    .contact-cake{
        @extend %bg-half;
        position: relative;
        @extend %padding-100;
    }
    .featured-product{
        background: white;
        button:focus{
            outline: none !important;
            box-shadow: none !important;
        }
        h1{
            margin-top: 100px;
        }
        .border-fp{
            margin-top: 25px;
            padding: 5px;
            border: 2px black dotted;
        }
        .gallery{
            width: 100%;
            padding-bottom: 100px;
            .col-xl-3, .col-lg-4, .col-md-6, .col-sm-6, .col-12{
                padding: 0px !important;
            }
            .pics {
                -webkit-transition: all 350ms ease;
                transition: all 350ms ease;
            }
            .animation {
                -webkit-transform: scale(1);
                -ms-transform: scale(1);
                transform: scale(1); 
            }
            @include image();
        }
        @media (max-width: 756px) {
            .gallery{
                .comlumn{
                    width: 100%;
                }
            }
        }
        @media (max-width: 400px) {
            .btn {
                padding-left: 1.1rem;
                padding-right: 1.1rem;
            }
        }
    }
    .baking-tools{
        @extend %padding-100;
        @include background-img('introduce.jpg', repeat);
        @include image();
        .col-sm-6.col-12{
            margin-bottom: 20px;
        }
    }
    .recipes-baking{
        @extend %padding-100;
        background-color: white;
        .truncate{
            @extend %truncate;
            padding-bottom: 20px;
        }
        .mr-bot-10{
            margin-bottom: 20px;
        }
        .mr-img{
            margin-top: 9px;
        }
        
    }
    .pic-of-invertors{
        @extend %padding-100;
        @include background-img('hinhnen.png', repeat);
        @include carousel-item(true);
        p{
            span{
                padding: 10px;
            }
        }
    }
    .contact-us {
        @extend %bg-half;
        @extend %padding-100;
        color: white;
    }    
}
.footer{
    .border-black{
        border-bottom: black 1px solid;
        padding-bottom: 20px;
        padding-top: 20px;
    }
    .sn-icon{
        font-size: 24px;
    }
    .pf-38{
        padding-left: 50px;
    }
    .rm-type{
        list-style-type: none;
        a{
            color: #343a40;
            &:hover{
                color: $color-pink !important;
            }
        }
    }
}


