doctype html
html
    head
        title Bakery
        include variable.pug
        block link
            link(rel='stylesheet', href=host+'assets/css/lib/bootstrap.css')
            link(rel='stylesheet', href=host+'assets/fonts/fontawesome/css/all.css')
            link(rel='stylesheet', href=host+'assets/css/lib/animate.css')
            link(rel="stylesheet", href=host+"assets/css/style.css")
    body
        include nav.pug
        block body
            .container-fluid.content-page
                .row
                    .col-md-12.remove-p.bg-slide
                        #slider.carousel.slide(data-ride="carousel")
                            .carousel-inner
                                .carousel-item.active
                                    img(src=host+"assets/images/slide-3.jpg", alt="Slide 1")
                                .carousel-item
                                    img(src=host+"assets/images/slide2.jpg", alt="Slide 2")
                                .carousel-item
                                    img(src=host+"assets/images/slide.jpg", alt="Slide 3")
                                .carousel-item
                                    img(src=host+"assets/images/slide-1.jpg", alt="Slide 4")
                                .carousel-item
                                    img(src=host+"assets/images/slide3.jpg", alt="Slide 5")
                            a.carousel-control-prev(href="#slider", data-slide="prev")
                            a.carousel-control-next(href="#slider", data-slide="next")
                    .col-md-12.remove-p.new-products
                        .new-products-img
                            img(src=host+"assets/images/cake-new.png", alt="", width="60%")
                    .col-md-12.introduce
                        p.h1.font-weight-bolder Bakery.vn
                        p.font-weight-bolder Delicate-Delicious-Soft
                        .container-fluid
                            .row
                                .col-md-4.wow.fadeInLeft(data-wow-delay="0.15s" data-wow-duration="1.5s" data-wow-offset="30")
                                    img(src=host+"assets/images/chef.png", alt="Chef", width="70%")
                                .col-md-4.pd-t-50.wow.fadeInDown(data-wow-delay="0.15s" data-wow-duration="1.5s" data-wow-offset="30")
                                    .display-4.font-weight-bolder.text-uppercase Sweetter
                                    .hr-than.justify-content-center
                                        .hr-before 
                                            hr
                                        .h4.font-weight-bolder than
                                        .hr-after
                                            hr
                                    .h2.font-pac what you see
                                    p.text-left.pd-t-50 Enjoy the freshness, but also enjoy French taste right in Saigon. Located on the road next to the river and small boats, Bakery has long been a favorite destination for tourists and residents here.
                                .col-md-4.pd-t-50.wow.fadeInRight(data-wow-delay="0.15s" data-wow-duration="1.5s" data-wow-offset="30")
                                    div.text-left
                                        i.far.fa-check-circle.mr-sm-2
                                        span.font-weight-bolder.text-uppercase.intro-title Shop
                                        p The latest bakes this year were designed by ourselves.
                                    div.text-left
                                        i.far.fa-check-circle.mr-sm-2
                                        span.font-weight-bolder.text-uppercase.intro-title Teach baking
                                        p Baking courses from basic to professional, suitable for all subjects.
                                    div.text-left
                                        i.far.fa-check-circle.mr-sm-2
                                        span.font-weight-bolder.text-uppercase.intro-title Recipes
                                        p Guide and share experiences to create the best products.
                                    div.text-left
                                        i.far.fa-check-circle.mr-sm-2
                                        span.font-weight-bolder.text-uppercase.intro-title Baking tools
                                        p We specialize in providing imported materials and baking tools.
                    .col-md-12.text-white.picture-of-cakes.text-center
                        p.picture-title
                            span.font-weight-bolder.bg-dark PICTURES OF CAKE TYPES
                        .container-fluid.wow.rollIn(data-wow-delay="0.15s" data-wow-duration="1.5s" data-wow-offset="30")
                            .row
                                #pictureOfCakeTypes.carousel.slide(data-ride="carousel")
                                    .carousel-inner
                                        .carousel-item.active
                                            ul.list-group.list-group-horizontal
                                                .list-group-item
                                                    img(src=host+"assets/images/570x570-1.png", alt="")
                                                .list-group-item
                                                    img(src=host+"assets/images/570x570-2.png", alt="")
                                                .list-group-item
                                                    img(src=host+"assets/images/570x570-3.png", alt="")
                                                .list-group-item
                                                    img(src=host+"assets/images/570x570-17.png", alt="")
                                                .list-group-item
                                                    img(src=host+"assets/images/570x570-5.png", alt="")
                                        .carousel-item
                                            ul.list-group.list-group-horizontal
                                                .list-group-item
                                                    img(src=host+"assets/images/570x570-6.png", alt="")
                                                .list-group-item
                                                    img(src=host+"assets/images/570x570-7.png", alt="")
                                                .list-group-item
                                                    img(src=host+"assets/images/570x570-8.png", alt="")
                                                .list-group-item
                                                    img(src=host+"assets/images/570x570-9.png", alt="")
                                        .carousel-item
                                            ul.list-group.list-group-horizontal
                                                .list-group-item
                                                    img(src=host+"assets/images/570x570-10.png", alt="")
                                                .list-group-item
                                                    img(src=host+"assets/images/570x570-14.png", alt="")
                                                .list-group-item
                                                    img(src=host+"assets/images/570x570-25.png", alt="")
                                                .list-group-item
                                                    img(src=host+"assets/images/570x570-1.png", alt="")
                                    a.carousel-control-prev(href="#pictureOfCakeTypes", data-slide="prev")
                                        .carousel-icon
                                            .fas.fa-angle-left
                                    a.carousel-control-next(href="#pictureOfCakeTypes", data-slide="next")
                                        .carousel-icon
                                            .fas.fa-angle-right
                    .col-md-12.contact-cake.text-white.text-center
                        h1.font-weight-bolder.text-uppercase Contact to order cake
                        h5.font-weight-bolder Call us now to get the best products
                        h5.font-weight-bolder Hotline: 090 000 00 00
                    .col-md-12.featured-product.remove-p.text-center
                        h1.text-uppercase.font-weight-bolder Featured Products
                        p Cake templates make the Bakery brand, why don't you try it?
                        .mb-5.justify-content-center.d-flex
                            div.border-fp
                                button.btn.btn-outline-black.font-weight-bolder.waves-effect.filter(type="button", data-rel="all") All
                                button.btn.btn-outline-black.font-weight-bolder.waves-effect.filter(type="button", data-rel="0") Cream cake
                                button.btn.btn-outline-black.font-weight-bolder.waves-effect.filter(type="button", data-rel="1") Cupcake
                                button.btn.btn-outline-black.font-weight-bolder.waves-effect.filter(type="button", data-rel="2") Doughnuts and Pancake
                        .gallery#gallery.wow.rotateInDownRight(data-wow-delay="0.15s" data-wow-duration="1.5s" data-wow-offset="30")
                            .container-fluid
                                .row
                                    each item in featured
                                        div(class="pics animation all col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 " + item.col)
                                            .image
                                                img(src=host+"assets/images/" + item.img, alt="" + item.alt, class="img-fluid")
                                                .img-hover
                                                    h3.font-weight-bolder=item.alt
                                                    .search-icon
                                                        i.fas.fa-search
                    .col-md-12.baking-tools.text-center
                        h1.text-uppercase.font-weight-bolder baking tools
                        p We provide baking tools imported from reputable and certified countries.
                        .container-fluid.wow.fadeInLeft(data-wow-delay="0.15s" data-wow-duration="1.5s" data-wow-offset="30")
                            .row
                                -var bakingTools = [{'image':'phot.jpg', 'alt':'Whisk'},{'image':'khaytraitim.jpg', 'alt':'Cake pan'},{'image':'khuonbanh.jpg', 'alt':'muffin fin'},{'image':'khaynuong.jpg', 'alt':'Baking Sheet'}]
                                each item in bakingTools
                                    .col-md-4.col-12.col-sm-6.col-xl-3
                                        .image.bg-white
                                            img(src=host+"assets/images/" + item.image, alt="" + item.alt, class="img-fluid")
                                            .img-hover
                                                h3.font-weight-bolder=item.alt
                                                .search-icon
                                                    i.fas.fa-search
                    .col-md-12.recipes-baking.text-center
                        h1.text-uppercase.font-weight-bolder recipes baking
                        p Articles about baking experience as well as guiding you to make a cake for yourself or someone.
                        .container-fluid
                            .row
                                .col-md-12.col-lg-6.mr-bot-10.wow.fadeInLeft(data-wow-delay="0.15s" data-wow-duration="1.5s" data-wow-offset="30")
                                    .container-fluid
                                        .row
                                            .col-4
                                                img.mr-img(src=host+"assets/images/Baguette.jpg", alt="Baguette", class="img-fluid")
                                            .col-8.text-left
                                                strong How to make delicious baguettes
                                                div!= 'Created by <font color="#FF3399">Admin</font> | 06/26/2019'
                                                .truncate The custard cake is not only especially loved by children but also enjoyed by adults. Soft and sweet cake and enjoy a cup of tea or coffee for breakfast or sweet and warm banquets.
                                                a(href="#") View more
                                .col-md-12.col-lg-6.wow.fadeInRight(data-wow-delay="0.15s" data-wow-duration="1.5s" data-wow-offset="30")
                                    .container-fluid
                                        .row
                                            .col-4
                                                img.mr-img(src=host+"assets/images/banhsinhnhat.jpg", alt="Baguette", class="img-fluid")
                                            .col-8.text-left
                                                strong How to make delicious baguettes
                                                div!= 'Created by <font color="#FF3399">Admin</font> | 06/26/2019'
                                                .truncate The custard cake is not only especially loved by children but also enjoyed by adults. Soft and sweet cake and enjoy a cup of tea or coffee for breakfast or sweet and warm banquets.
                                                a(href="#") View more
                                .col-md-12.col-lg-6.wow.fadeInLeft(data-wow-delay="0.15s" data-wow-duration="1.5s" data-wow-offset="30")
                                    .container-fluid
                                        .row
                                            .col-4
                                                img.mr-img(src=host+"assets/images/bonglan.jpg", alt="Baguette", class="img-fluid")
                                            .col-8.text-left
                                                strong How to make delicious baguettes
                                                div!= 'Created by <font color="#FF3399">Admin</font> | 06/26/2019'
                                                .truncate The custard cake is not only especially loved by children but also enjoyed by adults. Soft and sweet cake and enjoy a cup of tea or coffee for breakfast or sweet and warm banquets.
                                                a(href="#") View more
                                .col-md-12.col-lg-6.wow.fadeInRight(data-wow-delay="0.15s" data-wow-duration="1.5s" data-wow-offset="30")
                                    .container-fluid
                                        .row
                                            .col-4
                                                img.mr-img(src=host+"assets/images/banhmihoacuc.jpg", alt="Baguette", class="img-fluid")
                                            .col-8.text-left
                                                strong How to make delicious baguettes
                                                div!= 'Created by <font color="#FF3399">Admin</font> | 06/26/2019'
                                                .truncate The custard cake is not only especially loved by children but also enjoyed by adults. Soft and sweet cake and enjoy a cup of tea or coffee for breakfast or sweet and warm banquets.
                                                a(href="#") View more
                    .col-md-12.pic-of-invertors.text-center
                        p.text-uppercase
                            span.font-weight-bolder.bg-dark.text-white PICTURES OF INVESTORS
                        .container-fluid.wow.fadeInUp(data-wow-delay="0.15s" data-wow-duration="1.5s" data-wow-offset="30")
                            .row
                                #pictureOfInvertors.carousel.slide(data-ride="carousel")
                                    .carousel-inner
                                        .carousel-item.active
                                            ul.list-group.list-group-horizontal
                                                .list-group-item
                                                    img.img-thumbnail(src=host+"assets/images/invertors/team11.jpg", alt="")
                                                .list-group-item
                                                    img.img-thumbnail(src=host+"assets/images/invertors/team10.jpg", alt="")
                                                .list-group-item
                                                    img.img-thumbnail(src=host+"assets/images/invertors/team9.jpg", alt="")
                                                .list-group-item
                                                    img.img-thumbnail(src=host+"assets/images/invertors/team8.jpg", alt="")
                                        .carousel-item
                                            ul.list-group.list-group-horizontal
                                                .list-group-item
                                                    img.img-thumbnail(src=host+"assets/images/invertors/team7.jpg", alt="")
                                                .list-group-item
                                                    img.img-thumbnail(src=host+"assets/images/invertors/team6.jpg", alt="")
                                                .list-group-item
                                                    img.img-thumbnail(src=host+"assets/images/invertors/team5.jpg", alt="")
                                                .list-group-item
                                                    img.img-thumbnail(src=host+"assets/images/invertors/team4.jpg", alt="")
                                        .carousel-item
                                            ul.list-group.list-group-horizontal
                                                .list-group-item
                                                    img.img-thumbnail(src=host+"assets/images/invertors/team3.jpg", alt="")
                                                .list-group-item
                                                    img.img-thumbnail(src=host+"assets/images/invertors/team2.jpg", alt="")
                                                .list-group-item
                                                    img.img-thumbnail(src=host+"assets/images/invertors/team1.jpg", alt="")
                                                .list-group-item
                                                    img.img-thumbnail(src=host+"assets/images/invertors/team12.jpg", alt="")
                                    a.carousel-control-prev(href="#pictureOfInvertors", data-slide="prev")
                                        .carousel-icon
                                            .fas.fa-angle-left
                                    a.carousel-control-next(href="#pictureOfInvertors", data-slide="next")
                                        .carousel-icon
                                            .fas.fa-angle-right
                    .col-md-12.contact-us.text-center
                        h1.text-uppercase.font-weight-bolder Contact Us
                        p Please leave information if you need to order a cake or register for a baking course. Bakery will contact you as soon as possible
                        form
                            .container-fluid
                                .row.wow.fadeInLeft(data-wow-delay="0.15s" data-wow-duration="1.5s" data-wow-offset="30")
                                    .col-md-4.form-group
                                        input.form-control(type="text", placeholder='Full name')
                                    .col-md-4.form-group
                                        input.form-control(type="email", placeholder='Email')
                                    .col-md-4.form-group
                                        input.form-control(type="text", placeholder='Phone')
                                .row.wow.fadeInRight(data-wow-delay="0.15s" data-wow-duration="1.5s" data-wow-offset="30")
                                    .col-md-12.form-group
                                        textarea.form-control(rows='5')
                                .row.wow.fadeInRight(data-wow-delay="0.15s" data-wow-duration="1.5s" data-wow-offset="30")
                                    .col-md-12.form-group.text-right
                                        button.btn.btn-primary.mb-2(type="button") Send Feedback
        include footer.pug
    block script
        script(src=host+"common/lib/jquery.min.js")
        script(src=host+"common/lib/bootstrap.min.js")
        script(src=host+"common/lib/jquery.arctext.js")
        script(src=host+"common/lib/jsapi.js")
        script(src=host+"common/arctext.js")
        script(src=host+"common/lib/wow.min.js")
        script(src=host+"common/wow.js")
        script(src=host+"common/filter-images.js")
    
    