//Nav menu
-var nav = [{'href':host+'index.html', 'li':'Home'},{'href':host+'html/shop.html', 'li':'Shop'},{'href':'#', 'li':'Recipes'}]
-nav.push({'href':'#', 'li':'Teach baking'},{'href':'#', 'li':'Baking tools'},{'href':'#', 'li':'About'},{'href':'#', 'li':'Contact'})
nav.navbar.navbar-expand-lg.bg-white.navbar-light.fixed-top
    a(href='#', class='navbar-brand')
        h1.logo.ml-4 Bakery
    button.navbar-toggler(type='button', data-toggle='collapse', data-target="#navbarSupportedContent",aria-expanded="false", aria-label="Toggle navigation")
        i.fas.fa-bars
    #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
            each item in nav 
                li.navbar-item
                    a(href='' + item.href, class='nav-link text-white')=item.li
            li.navbar-item
                a(href='#',data-toggle="modal", data-target="#search", class='nav-link text-white')
                    i.fas.fa-search.mr-sm-2
include modals/search-modal.pug