extends index.pug
block append  link
    link(rel="stylesheet", href=host+"assets/css/products.css")
block body
    .container-fluid.content-page
        .row
            .col-md-12.remove-p.header-products.text-center
                h1 Shop
            .col-md-12
                