-var host ='http://localhost:3000/'
//featured-product
-var featured=[{'col':'0','img':'570x570-9.png','alt':'Wood Creamcake'},{'col':'1','img':'570x570-20.png','alt':'Rose Cupcake'}]
-featured.push({'col':'2','img':'570x570-5.png','alt':'Doughnut'},{'col':'0','img':'570x570.png','alt':'Custard Cake'},{'col':'1','img':'570x570-23.png','alt':'Heart Creamcake'})
-featured.push({'col':'0','img':'570x570-25.png','alt':'Chocola Creamcake'},{'col':'0','img':'570x570-28.png','alt':'Cupcake'},{'col':'2','img':'570x570-13.png','alt':'Le Castella Cake'})
-featured.push({'col':'2','img':'570x570-6.png','alt':'Macaron'},{'col':'2','img':'570x570-30.png','alt':'Saskatoon Berry Pie Cake'},{'col':'2','img':'570x570-18.png','alt':'Caramel Pudding'})