
<div class="modal fade" id="search">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-body">
        <input type="text" placeholder="Search..."/>
      </div>
    </div>
  </div>
</div>